@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

// ==== HEADER / NAVBAR ====
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, $color-bg-black, $color-bg-dark);
    .navbar-custom {
        background: linear-gradient(to bottom, $color-bg-black, $color-bg-dark);
        padding: 0.9rem 1.25rem;



        @include heading-font;

        .navbar-brand {
            color: white;

            @include flex($align: center, $gap: 0.9rem);
            @include heading-font(2rem);

            img {
                width: 2.8rem;
                height: auto;
                @include transition;
            }

            &:hover img {
                transform: rotate(-8deg) scale(1.08);
            }
        }

        .nav-link {
            @include heading-font(1.1rem, $color-neon);
            @include transition;

            &:hover {
                opacity: 0.75;
                transform: translateY(-2px);
            }

            &.active {
                text-decoration: underline;
            }
        }
    }

    .title {
        color: $color-neon;
    }

    @media (min-width: 768px) {
        .navbar-custom {
            padding: 1.1rem 2rem;

            .navbar-brand {
                @include heading-font(2.3rem);

                img {
                    width: 3.2rem;
                }
            }

            .nav-link {
                font-size: 1.2rem;
            }
        }
    }

    @media (min-width: 1024px) {
        .navbar-custom {
            padding: 1.25rem 2.5rem;

            .navbar-brand {
                @include heading-font(2.6rem);

                img {
                    width: 3.5rem;
                }
            }

            .nav-link {
                font-size: 1.3rem;
            }
        }
    }
}