@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

// ==== MAIN ====

main {
    background-color: $color-bg-dark;
    flex: 1;

    section {
        margin-top: 1.56rem;
    }

    h2 {
        text-align: center;

        @include heading-font(1.75rem, $color-neon);
    }
}

.secindex {
    margin-top: 0%;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    animation: fadeIn 0.8s ease-out;
}

// ==== CONTACTO ====

.maincontact {
    background-color: $color-bg-dark;
    color: $color-neon;
    text-align: center;

    section iframe {
        border: 0;
        display: block;
        width: 100%;
        max-width: 800px;
        aspect-ratio: 16 / 9;
        height: auto;
        margin: 0 auto;
        margin-top: 1.8rem;
    }
}

.h2contact {
    margin-bottom: 1.25rem;

    @include heading-font(1.75rem, $color-neon);
}
