// ==== VARIABLES ====

// Colores
$color-neon: #39FF14;
$color-bg-dark: #111111;
$color-bg-black: black;
$color-bg-input: #1a1a1a;
$color-placeholder: #777777;
$color-footer-bg: #CCCCCC; // o #222222
$color-gray: gray;
$color-gray-text: #808080;
$color-gray-link: rgb(128, 128, 128);
$color-white: rgb(255, 255, 255);

// Tipografias
$font-heading: "Orbitron", sans-serif;
$font-body: "Roboto", sans-serif;
