@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

// ==== BOTONES ====

.btn-neon {
    background-color: $color-neon;
    color: black;
    border: none;

    @include heading-font;
    @include transition;

    &:hover {
        background-color: lighten($color-neon, 10%);
        transform: translateY(-2px);
        animation: neonPulse 1.4s ease-in-out infinite;
    }
}
